<!DOCTYPE html>
<html>
  <head>
    <title>TumblrClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon'%>
  </head>

  <body>
    <%= render "shared/sidebar"%>
    <%= render "shared/navigation"%>
    <%= render "shared/msg"%>
    <div id="main_content">
    <%= yield %>
    </div>
  </body>
</html>
